.passwordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passForm{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passFormContainer{
    width: 90%;
    height: 80%;
}
.formBackground{
    width: 70%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(20, 28, 29, 0.83), #141c31);
}
.passText{
    margin: 0 0 40px 0;
}
.passText p{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.temp{
    color: #681FB0;
}
.setPassForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.passDetails{
    width: 90%;
    height: 45%;
}
.setPasswordFields{
    width: 100%;
    height: 30%;
}
.passInput{
    width: 100%;
    height: 55%;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.setPasswordFields p{
    margin: 5px 0;
    font-size: 15px;
}
.setPasswordSubmit{
    /* margin: 20px 0; */
    border: none;
    padding: 5px 40px;
    background-color:#163763;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;  
}