.month-container{
    box-sizing: border-box;
    background-color: white;
    width: 23% !important;
    margin: 10px;
    height: 210px !important;
    box-shadow: 0px 1.50177px 9.38605px 3.75442px rgba(136, 136, 136, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar{
    align-items: flex-start !important;
}
th, td{
    font-size: 12px !important;
}
.month-title{
    text-align: left !important;
    text-transform: Uppercase;
}
.month{
    width: 90%;
    height: 90%;
}
.calendar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.months-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}